/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 50px;*/
  padding-bottom: 20px;
}
.toronto {
  background-size: cover;
  background-position-y: -150px;
  background-image:  linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
  ), url('../../images/1.png');
  color: #FFF;
}
.instagram {

  background-size: cover;
  background-position-y: -200px;
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
  ), url('../../images/2.jpg');
  color: #FFF;

}
#map {
  height: 400px;
  width: 100%;
}
.break{
  padding-top: 50px;
}
.gap-right {
  margin-right: 15px;
  margin-bottom: 15px;
}
.padding-15 {
  padding: 15px;
}

.logo {   /* first square */
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 25%;
  left: 50%;
  margin-left: 30%;
  margin-top: -170px;
  background: transparent;
  border: 15px solid #fff;
  top: 40px;
}


.logo:before,
.logo:after {
  content: "";
  display: block;
  position: absolute;
  margin:auto ;
}


.logo:before {   /* large circle */
  width: 85px;
  height: 85px;
  border-radius: 100%;
  top:calc(100% / 5);
  left:calc(100% / 5);
  background: transparent;
  border: 15px solid #fff;
}

.logo:after {     /* small circle */
  width: 20px;
  height:20px;
  background: #fff;
  border-radius: 100%;
  right: 10%;
  top: 10%;
}

.gsc-search-button {
  height:  30px !important;
}

.gsc-input {
  margin-top: -5px !important;
  margin-left: -5px !important;
}
.gsc-control-cse {
  height: 10px !important;
  margin-top: -7px;
}
.gsc-search-button {
  width: 70px !important;
}