/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 50px;*/
  padding-bottom: 20px;
}
.toronto {
  background-size: cover;
  background-position-y: -130px;
  background-image:  linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
  ), url('../../images/1.png');
  color: #FFF;
}
#map {
  height: 400px;
  width: 100%;
}
.break{

  padding-top: 50px;

}