<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Festivals and Events Finder</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">  </script>
    <script src="../js/eventsScript.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../css/jumbotron.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<a class="navbar-brand" href="index.html">Main menu</a>
</div>
</div>
</nav>




<div class="container break">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-8">
            <h3>Trending in Toronto</h3>
            <hr>
            <div id="map"></div>
            <script>
                function initMap() {
                    init();

                }
            </script>
            <script src="../js/markerclusterer.js">
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9bZtCpAZ58RvoEXt-fAWR8ljtz5mkOpI&callback=initMap">
            </script>
        </div>
        <div class="col-md-4">
            <h3>Filters</h3>
            <hr>
            <form>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Filter #1
                    </label><br>
                    <label>
                        <input type="checkbox"> Filter #2
                    </label><br>
                    <label>
                        <input type="checkbox"> Filter #3
                    </label>
                </div>
                <button type="submit" class="btn btn-info">Apply</button>
            </form>
        </div>

    </div>
    <div id="eventDetails" style="display: none;">
        <div class="row">
            <div class="col-md-8">
                <h3 id="eventName">Event Information</h3>
                <hr>
                <div class="clearfix">
                        <img src="../../images/imgSample.svg" id="eventImage" width="200px" alt="Event Image" class="img-thumbnail pull-left gap-right" onerror="this.src='../../images/imgSample.svg';">
                        <p id="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto hic ipsam magnam saepe, temporibus vel. Aliquid assumenda blanditiis cupiditate dolorem expedita, harum illum libero magni quidem quod recusandae tempora tenetur.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto hic ipsam magnam saepe, temporibus vel. Aliquid assumenda blanditiis cupiditate dolorem expedita, harum illum libero magni quidem quod recusandae tempora tenetur.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto hic ipsam magnam saepe, temporibus vel. Aliquid assumenda blanditiis cupiditate dolorem expedita, harum illum libero magni quidem quod recusandae tempora tenetur.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto hic ipsam magnam saepe, temporibus vel. Aliquid assumenda blanditiis cupiditate dolorem expedita, harum illum libero magni quidem quod recusandae tempora tenetur.
                        </p>
                </div>
                <p>
                    <span id="eventAddress"></span><br>
                    <span id="eventCat"></span><br>
                    <span id="eventPeak"></span><br>
                    <span id="eventFree"></span><br>
                    <span id="eventRes"></span><br>
                    <span id="eventPhone"></span><br>
                    <span id="eventEmail"></span><br>
                    <span id="eventWebsite"></span><br>
                </p>
                <p class="bg-success padding-15">
                    <b>Need help to get there?</b> &nbsp; &nbsp;
                    <select onchange="selectTransportation()">
                        <option selected="selected" value="">Select method of transportation</option>
                        <option value="car">Car</option>
                        <option value="bus">Bus</option>
                        <option value="walking">Walking</option>
                    </select>
                </p>

            </div>
            <div class="col-md-4">
                <h3>Social Media</h3>
                <hr>
                <h5>Twitter</h5>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consequuntur doloribus eligendi inventore minima natus repellendus voluptatum? Adipisci delectus dolorum, iste minus quas quod quos! Ab dolor qui tempore voluptas.
                <h5>Instagram</h5>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam assumenda porro? A ad ex maiores omnis provident quidem reiciendis unde. Dolores est illum nulla obcaecati quia tempora temporibus unde!
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Nearby Restaurants</h3>
                <hr>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at dolorum eligendi error fugiat incidunt neque nihil sunt ut vel. Accusantium aut, consequuntur cumque magni nesciunt nisi non perspiciatis quis.
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2017, AppX Development</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
</html>
